<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-header">
    <a href="/" class="navbar-brand"><span class="brand-title">Restaurant Items Inventory</span></a>
    <a class="btn navbar-btn navbar-toggle" ng-click="isCollapsed = !isCollapsed">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
  </div>
  <div class="navbar-collapse collapse" uib-collapse="isCollapsed">
    <div class="pull-right navbar-logo">
      <ul class="nav navbar-nav pull-right">
        <li class="dropdown dropdown-big">
          <a href="http://www.angularjs.org" target="_blank">
            <img src="images/AngularJS-small.png" />
          </a>
        </li>
        <li>
          <a >Log-out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<footer >
   <div class="nav navbar-default navbar-fixed-bottom">
       <h6 class="footer">All Rights Reserved 2017 @ MHQ </h6>
   </div>
</footer>
